{{!< default}}
{{# each data.posts.results}}
	<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="post">
		<div class="row">
			<div class="col-md-4">
				<img src="{{image.url}}" class="img-responsive preview-image"/>
			</div>
			<div class="col-md-8 brief">
				<h2 class="post-title">
					<a href="{{postUrl slug}}">{{{title}}}</a>
				</h2>
				<div class="rating">
					<span class="star">&#9733;</span><span class="star">&#9733;</span><span class="star">&#9733;</span><span class="star">&#9733;</span><span class="star">&#9733;</span>
				</div>
				<h5 class="info">
					Found in <span class="location">Shibuya</span>
					From <span class="price">1000 yen</span>
				</h5>
				{{{content.brief}}}
				<a class="read-more" href="{{postUrl slug}}">Read more</a>		
			</div>
		</div>
	</div>
{{/each}}
{{>pagination}}